{% extends 'bases/base.html' %}
{% load static %}

{% block page_content %}
    <div class="hall-wrapper">
        <h1>{{ object.name }}</h1>
        <div class="hall-actions">
            <span>Number of seats: {{ total_seats }}</span>
            {% if request.user.is_staff %}
                <span>
                <a class="edit-user" href="{% url 'edit hall' pk=object.pk slug=object.slug %}"><i
                        class="fa-solid fa-pencil"></i></a>
                <a class="edit-user" href="{% url 'delete hall' pk=object.pk slug=object.slug %}"><i
                        class="fa-solid fa-trash-can"></i></a>
            </span>

            {% endif %}
        </div>
        <img src="{{ hall.image.url }}" alt="{{ object.name }} hall image">
        <p>{{ object.description }}</p>

    </div>
    <div class="cinema-hall">
        <div class="cinema-screen">CINEMA SCREEN</div>
        {% for row in rows %}
            <div>
                <span class="row-seat seat">
                    <p>row</p>
                    <p class="pseat">{{ forloop.counter }}</p>
                </span>
                {% for seat in seats %}
                    <span class="free-seat seat">
                            <p>seat</p>
                            <p class="pseat"> {{ forloop.counter }}</p>
                    </span>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}