<ul class="days-navigation">
    <li><a href="{% url 'projection day' day=days.0|date:"Y-m-d" %}">{{ days.0 }}</a></li>
    <li><a href="{% url 'projection day' day=days.1|date:"Y-m-d" %}">{{ days.1 }}</a></li>
    <li><a href="{% url 'projection day' day=days.2|date:"Y-m-d" %}">{{ days.2 }}</a></li>
    <li><a href="{% url 'projection day' day=days.3|date:"Y-m-d" %}">{{ days.3 }}</a></li>
    <li><a href="{% url 'projection day' day=days.4|date:"Y-m-d" %}">{{ days.4 }}</a></li>
    <li><a href="{% url 'projection day' day=days.5|date:"Y-m-d" %}">{{ days.5 }}</a></li>
    <li><a href="{% url 'projection day' day=days.6|date:"Y-m-d" %}">{{ days.6 }}</a></li>
</ul>