{% extends 'bases/base.html' %}

{% block page_content %}
    <div class="user-info">
        <h2>Hello, {{ object.username }}</h2>

        <p><span>Username:</span><span>{{ object.username }}</span></p>

        {% if  object.get_full_name %}
            <p><span>Name:</span><span>{{ object.get_full_name }}</span></p>
        {% endif %}

        {% if is_owner %}
            <p><span>Email:</span><span>{{ object.email }}</span></p>
            {% if  object.age %}
                <p><span>Age:</span><span>{{ object.age }}</span></p>
            {% endif %}

            {% if object.is_staff %}
                <p>
                    <span>Type user:</span>
                    {% if object.is_superuser %}
                        <span>superuser</span>
                    {% else %}
                        <span>staff</span>
                    {% endif %}
                </p>
                <p><span>Member of:</span>
                    <span>
                        {% for group in groups %}
                            {{ group }}<br>
                        {% endfor %}

                    </span>
                </p>
            {% endif %}
            <p><span>Actions:</span>
                <span>
                    <a class="edit-user" href="{% url 'edit user' pk=object.pk %}"><i class="fa-solid fa-pencil"></i></a>
                    <a class="edit-user" href="{% url 'delete user' pk=object.pk %}"><i class="fa-solid fa-trash-can"></i></a>
                    <a class="edit-user" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i></a>
                </span>
            </p>

            {% if new_reservations %}
                <h3>Pending reservations:</h3>
                <div class="user-separator"></div>
                {% for reservation in new_reservations %}
                    <p>
                        <a class="alink" href="{% url 'reservation review' pk=reservation.pk %}">
                            {{ reservation.projection.date|date:"d-m-Y" }} {{ reservation.projection.hour|time:"H:i" }}: {{ reservation.projection.movie }}
                        </a>
                    </p>
                {% endfor %}
            {% endif %}

            {% if old_reservations %}
                <h3>Expired reservations:</h3>
                <div class="user-separator"></div>
                {% for reservation in old_reservations %}
                    <p>
                        <a class="alink" href="{% url 'reservation review' pk=reservation.pk %}">
                            {{ reservation.projection.date|date:"d-m-Y" }} {{ reservation.projection.hour|time:"H:i" }}: {{ reservation.projection.movie }}
                        </a>
                    </p>
                {% endfor %}

            {% endif %}
        {% endif %}
    </div>
{% endblock %}