{% extends 'bases/base.html' %}

{% block page_content %}
    <h1>User details</h1>
    <p>Username: {{ object.username }}</p>
    {% if  object.get_full_name %}
        <p>Name: {{ object.get_full_name }}</p>
    {% endif %}

    {% if is_owner %}
        <p>Email: {{ object.email }}</p>
        {% if  object.age %}
            <p>Age: {{ object.age }}</p>
        {% endif %}
        <p>Type user:
            {% if object.is_staff %}
                staff
            {% else %}
                regular
            {% endif %}
        </p>
        <p>
            <a class="edit-link" href="{% url 'edit user' pk=object.pk %}">Edit</a>
            <a class="edit-link" href="{% url 'delete user' pk=object.pk %}">Delete</a>
        </p>

        {% if new_reservations %}
            <div class="separator"></div>
            <h2>Pending reservations:</h2>
            {% for reservation in new_reservations %}
                <p>
                    <a class="alink" href="{% url 'reservation review' pk=reservation.pk %}">
                        {{ reservation.projection.date|date:"d-m-Y" }} {{ reservation.projection.hour|time:"H:i" }}: {{ reservation.projection.movie }}
                    </a>
                </p>
            {% endfor %}
            {% if old_reservations %}
            <div class="separator"></div>
            <h2>Old reservations:</h2>
            {% for reservation in old_reservations %}
                <p>
                    <a class="alink" href="{% url 'reservation review' pk=reservation.pk %}">
                        {{ reservation.projection.date|date:"d-m-Y" }} {{ reservation.projection.hour|time:"H:i" }}: {{ reservation.projection.movie }}
                    </a>
                </p>
            {% endfor %}
        {% endif %}
        {% endif %}
    {% endif %}

{% endblock %}