{% extends 'bases/base.html' %}

{% block page_content %}
    <h1>User details</h1>
    <p>Username: {{ object.username }}</p>
    {% if  object.get_full_name %}
        <p>Name: {{ object.get_full_name }}</p>
    {% endif %}

    {% if is_owner %}
        <p>Email: {{ object.email }}</p>
        {% if  object.age %}
            <p>Age: {{ object.age }}</p>
        {% endif %}
        <p>Type user:
            {% if object.is_staff %}
                staff
            {% else %}
                regular
            {% endif %}
        </p>
        <p>
            <a class="edit-link" href="{% url 'edit user' pk=object.pk %}">Edit</a>
            <a class="edit-link" href="{% url 'delete user' pk=object.pk %}">Delete</a>
        </p>

        {% if reservations %}
            <div class="separator"></div>
            <h2>My reservations:</h2>
            {% for reservation in reservations %}
                <p><a class="alink" href="{% url 'reservation review' pk=reservation.pk %}">{{ reservation.projection.movie }}
                    - {{ reservation.projection.date }}</a></p>
            {% endfor %}
        {% endif %}
    {% endif %}

{% endblock %}