{% load prepare_stars %}
{% load convert_to_list %}
{% load static %}

<div class="projection-display">
    <div class="movie-image">
        <img src="{{ data.movie.image.url }}" alt="{{ data.movie.title }} - image">

        <div class="movie-image-rating">
            {% if data.movie.rating %}
                <div class="rating-wrap">
                    {% for star in data.movie.rating|prepare_stars %}
                        <div class="rating-star">
                            <img src="{% static star %}" alt="star">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <p>Rating: {{ data.movie.rating }} ({{ data.movie.votes }} votes) </p>
        </div>

    </div>
    <div class="right-side">
        <a href="{% url 'details movie' pk=data.movie.pk slug=data.movie.slug %}">
            <h3>{{ data.movie.title }}</h3>
        </a>
        <p class="movie-plot">{{ data.movie.plot|truncatechars:140 }}</p>
        <div class="display-hours">
            {% for hour, pr in data.hours.items %}
                {% if pr.free_seats == 'No free seats' %}
                    <a class="hour-projection">
                        <p class="hour no-free-seats">{{ hour|time:'H:i' }}</p>
                        <p class="free-seats no-free-seats">{{ pr.free_seats }}</p>
                    </a>
                {% else %}
                    <a class="hour-projection"
                       href="{% url 'save projection' pk=pr.projection.pk %}">
                        <p class="hour">{{ hour|time:'H:i' }}</p>
                        <p class="free-seats">{{ pr.free_seats }}</p>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>