{% load convert_to_list %}
{% load static %}

<div class="projection-display">
    <div class="movie-image">
        {% if data.movie.temp_img %}
            <img src="{% static data.movie.temp_img %}" alt="{{ data.movie.title }} - image">
        {% else %}
            <img src="{{ data.movie.image_url }}" alt="{{ data.movie.title }} - image">
        {% endif %}
        <div class="movie-image-rating">
            <div class="rating-wrap">
                {% for star in data.movie.stars|convert_to_list %}
                    <div class="rating-star">
                        <img src="{% static star %}" alt="star">
                    </div>
                {% endfor %}
            </div>
            <p>Rating: {{ data.movie.rating }} ({{ data.movie.votes }} votes) </p>
        </div>
        {#TODO: Change image with real URL#}
    </div>
    <div class="right-side">
        <a href="{% url 'details movie' pk=data.movie.pk slug=data.movie.slug %}">
            <h3>{{ data.movie.title }}</h3>
        </a>
        <p class="movie-plot">{{ data.movie.plot|truncatechars:140 }}</p>
        <div class="display-hours">
            {% for hour, pr in data.hours.items %}

                {% if pr.free_seats == 'No free seats' %}
                    <a class="hour-projection">
                        <p class="hour no-free-seats">{{ hour|time:'H:i' }}</p>
                        <p class="free-seats no-free-seats">{{ pr.free_seats }}</p>
                    </a>
                {% else %}
                    <a class="hour-projection"
                       href="{% url 'start reservation' %}?projection={{ pr.projection.pk }}">

                        <p class="hour">{{ hour|time:'H:i' }}</p>
                        <p class="free-seats">{{ pr.free_seats }}</p>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>