{% extends 'bases/base.html' %}
{% load prepare_stars %}
{% load placeholders %}
{% load static %}

{% block page_content %}

    <div class="movie-wrapper">
        <div class="movie-left">
            {% if movie.temp_img %}
                <img src="{% static movie.temp_img %}" alt="{{ movie.title }} - image">
            {% else %}
                <img src="{{ movie.image_url }}" alt="{{ movie.title }} - image">
            {% endif %}
            {# TODO: Change image with real URL#}

            <p class="movie-rating">Rating {{ movie.rating|floatformat:1 }} from {{ movie.votes }} votes</p>
            <div class="rating-wrap details">
{#                <p>{{ movie.rating }}</p>#}
                {% for star in rating|prepare_stars %}
                    <div class="rating-star">
                        <img src="{% static star %}" alt="star">
                    </div>
                {% endfor %}
            </div>

            {% if is_staff %}
                <a href="{% url 'edit movie' pk=movie.pk slug=movie.slug %}" class="edit-link">Edit</a>
            {% endif %}

            <a class='edit-link' href="{% url 'vote movie' pk=movie.pk slug=movie.slug %}">Vote</a>

            <div class="list-projections">
                <h4>Upcoming projections:</h4>
                {% if projections %}
                    {% for projection in projections %}
                        <p>
                            <a href="{% url 'save projection' pk=projection.pk %}">
                                {{ projection.date }} - {{ projection.hour|time:"H:i" }} - {{ projection.hall }}
                            </a>
                        </p>
                    {% endfor %}
                {% else %}
                    <p>No projections found.</p>
                {% endif %}
            </div>
        </div>

        <div class="movie-right">
            <h2>{{ movie.title }} ({{ movie.year }})</h2>
            <p>{{ movie.plot }}</p>
            <br>
            <p>Runtime: {{ runtime }}</p>
            <p>Genres: {{ movie.genres }}</p>
            <p>Country: {{ movie.country }}</p>
            <p>
                <a href="{{ movie.imbd_link }}" target="_blank">
                    <img src="{% static 'images/IMDB-logo.png' %}" alt="IMDB" class="imdb-logo">
                </a>
            </p>
            <br>

            <h3>Directors: </h3>
            <ul>
                {% for director in directors %}
                    <li>{{ director }}</li>
                {% endfor %}
            </ul>

            <h3>Writers: </h3>
            <ul>
                {% for writer in writers %}
                    <li>{{ writer }}</li>
                {% endfor %}
            </ul>

            <h3>Actors:</h3>
            <ul>
                {% for actor in actors %}
                    <li>{{ actor }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="comments-list">
        {% if comments %}
            {% for commnet in comments %}
                <div class="single-comment">
                    <p>
                        <span class="comment-user">
                            {{ commnet.user }}
                        </span>
                        <span class="comment-date">
                            {{ commnet.updated_datetime|date:"d-m-Y H:i" }}
                        </span>
                    </p>
                    <p class="comment-text">{{ commnet.text }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>No comments.</p>
        {% endif %}

        <div id="comments"></div>
        {% if logged_user %}
            <div class="new-comments">
                <form action="{% url 'details movie' pk=movie.pk slug=movie.slug %}" method="post">
                    <p class="new-comment-text">{{ comment_form.text|placeholder:"Add new comment..." }}</p>
                    {% csrf_token %}
                    <button class="post-comment">Post</button>
                </form>
            </div>
        {% else %}
            <p class="comment-login">Login to comment</p>
            <a class="edit-link" href="{% url 'login' %}?next=/movie/details/{{ movie.pk }}/{{ movie.slug }}">Login</a>
        {% endif %}

    </div>

{% endblock %}