{% extends 'bases/base.html' %}
{% load static %}

{% block page_content %}
    <h1 class="hand-writing">Wellcome to</h1>
    <div class="logo-wrapper">
        <img src="{% static 'images/CTRSArena-white-logo.svg' %}" alt="CTRS Arena-logo">
    </div>
    {#    <div class="separator"></div>#}
    <div class="image-wrapper">
        <img src="{% static 'images/188185564-rows-of-red-velvet-seats-watching-movies-in-the-cinema-with-copy-space-banner-background.webp' %}"
             alt="DrumbArena-logo">
    </div>
    {#    <div class="separator"></div>#}
    <div class="description">
        <p> Our Cinema Tickets Reservation System — an innovative solution for seamless ticket booking.
            Designed to enhance convenience and streamline the movie going experience, our system offers user-friendly
            navigation, online booking and seat selection. Join us as we revolutionize cinema ticketing.
        </p>
        <br>
        <p>
            Features:
        </p>
        <ul>
            <li>User-Friendly Interface: Simplified navigation for easy ticket reservations.</li>
            <li>Online Booking: Convenient 24/7 access to real-time movie schedules and prices.</li>
            <li>Seat Selection: Choose preferred seats based on availability and preferences.</li>
        </ul>
        <p>
            Experience the future of cinema ticketing with our Cinema Tickets Reservation System. Enjoy a personalized,
            hassle-free booking process that maximizes convenience and offers valuable benefits to both moviegoers and
            cinema owners. Join us as we redefine the way tickets are reserved.
        </p>





{#        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam amet corporis doloremque, eaque earum eius#}
{#            excepturi expedita fugit in laborum minus modi nostrum, quas quasi quis repudiandae sint tenetur, vero. </p>#}
{#        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae delectus doloremque, enim illo ipsam iste,#}
{#            laboriosam minus nemo nisi nulla perferendis, perspiciatis possimus provident quos voluptates? Animi,#}
{#            impedit, iure. Animi. </p>#}
{#        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut commodi doloribus facere illo ipsa maiores#}
{#            officia sequi tempore vel? Aliquid culpa cumque in nam officiis, sed sequi sint unde. Adipisci? </p>#}
{#        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium doloremque ducimus et laboriosam#}
{#            quisquam rerum, similique velit? Alias aliquam blanditiis debitis deleniti deserunt doloremque expedita#}
{#            molestias unde! Cupiditate, provident, tenetur?</p>#}
    </div>

{% endblock %}