<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Welcome to CTRS (Cinema Tickets Reservation System)!</h1>
    <p>{{ name }}</p>
    <p>We're delighted to have you here. With CTRS, your movie ticket booking
        experience is about to reach new heights. Say goodbye to long queues and
        last-minute disappointments. Get ready to indulge in seamless ticket
        reservations and secure your spot for an extraordinary cinematic adventure.
        Sit back, relax, and let CTRS take care of all your movie-going needs. Enjoy the show!</p>
</body>
</html>