{% extends 'bases/base.html' %}
{% load prepare_stars %}
{% load convert_to_list %}
{% load static %}

{% block page_content %}
    <h1>Would you like to make<br> a reservation for: </h1>
    <br>
    <div class="projection-display">
        <div class="movie-image">
            <img src="{{ projection.movie.image.url }}" alt="{{ projection.movie.title }} - image">

            <div class="movie-image-rating">
                {% if projection.movie.rating %}
                    <div class="rating-wrap">
                        {% for star in projection.movie.rating|prepare_stars %}
                            <div class="rating-star">
                                <img src="{% static star %}" alt="star">
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <p>Rating: {{ projection.movie.rating }} ({{ projection.movie.votes }} votes) </p>
            </div>

        </div>
        <div class="right-side">
            <a href="{% url 'details movie' pk=projection.movie.pk slug=projection.movie.slug %}">
                <h3>{{ projection.movie.title }}</h3>
            </a>
            <p class="movie-plot">{{ projection.movie.plot|truncatechars:200 }}</p>
            <hr>
            <p class="movie-plot">Date: {{ projection.date|date:"d-m-Y" }}</p>
            <p class="movie-plot">Hour: {{ projection.hour|time:'H:i' }}</p>
            <p class="movie-plot">Hall: {{ projection.hall }}</p>

        </div>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <button>Confirm</button>
    </form>
    <h2>Available seats:</h2>
    <div class="cinema-hall">
        <div class="cinema-screen">CINEMA SCREEN</div>
        <p class="free-seat-info">Free seats: {{ free_seats }}</p>
        {% for row in seats %}
            <div>
                <span class="row-seat seat">
                    <p>row</p>
                    <p class="pseat">{{ forloop.counter }}</p>
                </span>
                {% for seat in row %}
                    {% if seat.is_taken %}
                        <span class="taken-seat seat" data-pk={{ seat.pk }} data-row={{ seat.row_n }}
                              data-seat={{ seat.seat_n }}>
                            <p>seat</p>
                            <p class="pseat">{{ seat.seat_n }}</p>
                        </span>
                    {% else %}
                        <span class="free-seat seat" data-pk={{ seat.pk }} data-row={{ seat.row_n }}
                              data-seat={{ seat.seat_n }}>
                            <p>seat</p>
                            <p class="pseat">{{ seat.seat_n }}</p>
                        </span>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}

    </div>
{% endblock %}