{% extends 'bases/base.html' %}
{% load static %}

{% block page_content %}
    {% if reservation.is_finished %}
        <h1>finished</h1>
    {% else %}
    <h1>Reservation - step 2: <br> select seats</h1>

    <div class="cinema-hall">
        <div class="cinema-screen">CINEMA SCREEN</div>
        <p class="free-seat-info">Free seats: {{ free_seats }}</p>
        <div class="alert-msg" hidden>
            <span class="closeAlertBtn">&times;</span>
            <strong>The seat is already taken.</strong>
        </div>
        {% for row in seats %}
            <div>
                <span class="row-seat seat">
                    <p>row</p>
                    <p class="pseat">{{ forloop.counter }}</p>
                </span>
                {% for seat in row %}
                    {% if seat.is_taken %}
                        <span class="taken-seat seat" data-pk={{ seat.pk }} data-row={{ seat.row_n }}
                              data-seat={{ seat.seat_n }}>
                            <p>seat</p>
                            <p class="pseat">{{ seat.seat_n }}</p>
                        </span>
                    {% else %}
                        <span class="free-seat seat" data-pk={{ seat.pk }} data-row={{ seat.row_n }}
                              data-seat={{ seat.seat_n }}>
                            <p>seat</p>
                            <p class="pseat">{{ seat.seat_n }}</p>
                        </span>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        <h1>Selected seats: </h1>
        <div class="results">

        </div>
        <div class="buttons">
            <button name="type" class="ConfirmBtn">Confirm</button>
            <button class="RstBtn">Reset</button>
        </div>

    </div>


    <form action="{% url 'reservation step 2' %}" method="post" id="cinema-hall-form">
        {% csrf_token %}
        <p style="display: none">{{ form.reserved_seats }}</p>
        <p style="display: none">{{ form.is_finished }}</p>
        <p class="numberOfTicketsReserved" style="display: none">{{ object.number_of_tickets }}</p>
        <button class="FinishBtn">Finish</button>
    </form>

    <script src="{% static 'javascript/reservationStepTwo.js' %}"></script>
    {% endif %}
{% endblock %}