footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    margin: 2.5rem 0 0 0;
    background-color: var(--navigation-color-backgrond);
    text-align: center;
    color: var(--secondary-color-text);
}

main {
    padding-bottom: 5rem;
}