form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.description {
    width: 600px;
}

.helptext {
    display: none;
}

form li {
    color: var(--main-color-hover);
    margin: 0;
}

form button {
    color: var(--main-color-text);
    background-color: var(--secondary-color-backgrond);
    height: 60px;
    border: none;
    margin-top: 20px;
}

button:hover {
    font-weight: bold;
    background-color: var(--main-color-hover);
    cursor: pointer;
}

form input, form select, form textarea {
    background-color: var(--main-color-text);
    margin-top: 5px;
    margin-bottom: 20px;
}
form br {
    display: none;
}