@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');


body {
    background-color: var(--main-color-backgrond);
    color: var(--main-color-text);
    font-family: Verdana, sans-serif;
}

.wrapper {
    max-width: 1920px;
    margin: auto;
}

main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: 20px;*/
}

h1 {
    margin-top: 3rem;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}
h2 {
    margin: 20px 0;
}

.hand-writing {
    font-family: 'Dancing Script', cursive;
    text-transform: inherit;
}

.image-wrapper {
    /*border: 1px solid red;*/
    width: 600px;
    margin: 40px;
}

.logo-wrapper {
    /*border: 1px solid red;*/
    width: 450px;
    /*margin: 40px;*/
}

.separator {
    width: 600px;
    height: 2px;
    background-color: var(--main-color-text);
    margin: 20px 0 0 0;
    border-radius: 2px;
}

.edit-link {
    display: inline-block;
    color: var(--main-color-text);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    width: 80px;
    height: 30px;
    background-color: var(--secondary-color-backgrond);
    padding: 3px;
    margin: 20px 10px;
}

.edit-link:hover {
    background-color: var(--main-color-hover);
}

.go-back {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 17px;
    color: var(--main-color-text);
    background-color: var(--secondary-color-backgrond);
    height: 60px;
    border: none;
    margin-top: 20px;
}

.go-back:hover {
    font-weight: bold;
    background-color: var(--secondary-color-hover);
    cursor: pointer;
}

.alink {
    color: var(--main-color-text);
    text-decoration: none;
}
.alink:hover {
    color: var(--main-color-hover);
}