.searchForm {
    display: block;
    padding: 0;
    margin: 0;
}

.searchForm input {
    width: 360px;
}

.searchBtn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    display: inline-block;
}

.searchBtn:hover {
    color: var(--main-color-hover);
    background-color: transparent;
}

.list-movies {
    /*border: 1px solid red;*/
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
    width: 1160px;
}

.single-movie {
    position: relative;
    width: 250px;
    height: 400px;
    overflow: hidden;
}

.single-movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.more-info {
    position: absolute;
    top: 400px;
    left: 0;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    transition: .5s top ease-in-out;
}

.single-movie:hover .more-info {
    /*cursor: pointer;*/
    top: 0;
}

.more-info .movie-title {
    box-sizing: border-box;
    width: 100%;
    height: 240px;
    background-color: #00000099;
    text-align: center;
    padding: .5rem;
}

.more-info .movie-title .title {
    font-size: 1.2rem;
    font-weight: bold;
}

.more-info .movie-title .plot {
    font-size: .8rem;
}

.more-info .details {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    background-color: #ff000099;
}

.more-info a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--main-color-text);
    padding-top: 1.5rem;
}

.more-info .rating {
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    background-color: #00000099;
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem .5rem 0 .5rem;
}

.rating-wrap-single-movie {
    /*width: 90%;*/
    display: flex;
    gap: .2rem;
}

/* MOVIE DETAILS PAGE */

.movie-wrapper {
    box-sizing: border-box;
    width: 800px;
    /*border: 1px solid red;*/
    position: relative;
    padding: 1rem;
    vertical-align: top;
    margin-top: 2rem;

}

.movie-wrapper .movie-left {
    box-sizing: border-box;
    width: 300px;
    display: inline-block;
    /*padding: 1rem;*/
    vertical-align: top;

}

.movie-wrapper .movie-right {
    box-sizing: border-box;
    width: 440px;
    display: inline-block;
    vertical-align: top;
    margin-left: 1rem;
    /*padding: 1rem;*/
}

.movie-wrapper h2 {
    margin: 0;
}

.movie-wrapper h3 {
    margin: 0;
    padding: 0;
}

.imdb-logo {
    margin-top: 10px;
    width: 60px;
}

.movie-wrapper li {
    margin: 0;
    padding: 0;
}

.movie-wrapper ul {
    margin: 0 0 0 10px;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}

/* RATING */
.rating-wrap {
    width: 300px;
    display: flex;
    gap: .3rem;
    margin-top: 1rem;
}

.rating-star {
    width: 30px;
}

.vote:hover {
    cursor: pointer;
}

.movie-rating {
    margin-top: .5rem;
}

.order-by-rating {
    display: inline-block;
    color: var(--main-color-text);
    text-decoration: none;
    margin-top: 1rem;
}
.order-by-rating:hover{
    color: var(--main-color-hover);
}
.list-projections h4{
    padding-bottom: 1rem;
}
.list-projections a {
    text-decoration: none;
    color: var(--main-color-text);
}
.list-projections a:hover {
    color: var(--main-color-hover);
}
.rating-image {
    margin-bottom: 1rem;
    height: 400px;
}
#vote-form, .vote-form button{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}