nav {
    background-color: var(--navigation-color-backgrond);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


nav .image {
    width: 100px;
    margin-left: 40px;
}

nav ul {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    background-color: var(--navigation-color-backgrond);
    align-items: center;
    height: 4.5rem;
    margin: 0;
    padding-top: 4px;
    /*border: 1px solid red;*/
}

nav ul li {
    text-decoration: none;
    list-style-type: none;
    margin: 0 20px;
}

nav ul li a {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    color: var(--main-color-text);
    font-size: .8rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--main-color-hover);
    font-weight: bold;
}

.staff-nav li a {
    width: 140px;
}

.header-menu {
    position: relative;
}

nav .sub-menu {
    display: none;
    position: absolute;
    top: 20px;
    left: -20px;
    width: 160px;
    height: 240px;
    background-color: var(--navigation-color-backgrond);
    padding: 0.3rem 0;
    text-align: left;
    z-index: 1000;
}

nav .sub-menu li {
    margin-top: .7rem;
    border-bottom: 1px solid var(--main-color-text);
}

/*nav .sub-menu li:hover{*/
/*    border-bottom: 1px solid var(--main-color-hover);*/
/*}*/
nav .sub-menu a {
    font-weight: normal;
    font-size: .8rem;
}

nav .sub-menu a:hover {
    font-weight: normal;
    font-size: .8rem;
}

.header-menu:hover > .sub-menu {
    display: block;
}