nav {
    background-color: var(--navigation-color-backgrond);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav div {
    width: 100px;
    margin-left: 40px;
}
nav ul {
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    background-color: var(--navigation-color-backgrond);
    align-items: center;
    height: 4.5rem;
    margin: 0;
    padding-top: 4px;

}
nav ul li {
    text-decoration: none;
    list-style-type: none;
    margin: 0 20px;
}
nav ul li a {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: 80px;
    /*border: 1px solid red;*/
    color: var(--main-color-text);
    font-size: .8rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
nav ul li a:hover {
    color: var(--main-color-hover);
    font-weight: bold;
}
.staff-nav li a{
    width: 140px;
}