.select-tickets {
    display: flex;
    flex-direction: column;
    /*border: 1px solid red;*/
    padding: 0;
    margin: 1rem 0 0 0;
}

.ticket-type {
    display: flex;
    flex-direction: row;
    margin: .75rem;
    /*border: 1px solid red;*/
}

.ticket-type div {
    width: 8rem;
    /*border: 1px solid red;*/
    margin-right: 1rem;
}

.ticket-type input {
    width: 4rem;
}

.reservation-details {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 300px;
    border: .5px solid var(--main-color-text);
}

.reservation-row {
    display: flex;
    border: .5px solid var(--main-color-text);
    padding: 10px;
}

.reservation-row .left {
    width: 90px;
}

.form-reservation {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.reservation1 {
    margin-top: 3rem;
}
.reservation1 h2, .reservation2{
    text-align: center;
    text-transform: uppercase;
}
.reservation1 .display-result{
    text-align: center;
    background-color: #333333;
    padding: .5em 0;
}
.reservation1 form {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 2rem;
}