
.cinema-hall {
    display: flex;
    width: 900px;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;

}

.cinema-screen {
    box-sizing: border-box;
    width: 90%;
    height: 30px;
    text-align: center;
    padding: 7px 0;
    background-color: lightgray;
    margin: 20px 0;
}

.seat {
    box-sizing: border-box;
    display: inline-block;
    margin: 10px;
    padding: 7px 0px;
    width: 50px;
    height: 50px;
    text-align: center;
    /*border: 1px solid red;*/
    border-radius: 10px;
    color: black;
}

.seat span p {
    margin: 0;
    padding: 0;
    /*color: black;*/
}

.taken-seat {
    background-color: red;
}

.reserved-seat {
    background-color: orange;
}

.row-seat {
    background-color: gray;
}

.free-seat {
    background-color: green;
}

.taken-seat p, .row-seat p, .reserved-seat p, .free-seat p {
    color: white;
}

.free-seat:hover, .taken-seat:hover, .reserved-seat {
    cursor: pointer;
}

.alert-msg {
    padding: 20px;
    background-color: #f44336;
    color: white;
    position: absolute;
    top: 30%;
    left: 30%;
}

.closeAlertBtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closeAlertBtn:hover {
    color: black;
}
