.cinema-hall {
    display: flex;
    width: 900px;
    flex-direction: column;
    align-items: center;
    position: relative;
    /*border: 1px solid red;*/
}

.cinema-screen {
    box-sizing: border-box;
    width: 90%;
    height: 30px;
    text-align: center;
    padding: 3px 0;
    background-color: var(--secondary-color-backgrond);
    margin: 20px 0;
    font-weight: bold;
}

.free-seat-info {
    margin-bottom: 1rem;
}

.seat {
    box-sizing: border-box;
    display: inline-block;
    margin: 5px;
    padding: 2px 0px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    color: var(--main-color-backgrond);
}

.seat span p {
    margin: 0;
    padding: 0;
}

.taken-seat {
    background-color: var(--taken-seat);
}

.reserved-seat {
    background-color: var(--reserved-seat);
}

.row-seat {
    background-color: var(--row-seat);
}

.free-seat {
    background-color: var(--free-seat);
}

.taken-seat p, .row-seat p, .reserved-seat p, .free-seat p {
    color: white;
}

.free-seat:hover, .taken-seat:hover, .reserved-seat {
    cursor: pointer;
}

.alert-msg {
    padding: 20px;
    background-color: var(--alert-color);
    color: var(--main-color-text);
    position: absolute;
    top: 20%;
    left: 33%;
}

.closeAlertBtn {
    margin-left: 15px;
    color: var(--main-color-text);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closeAlertBtn:hover {
    color: var(--main-color-backgrond);
}

.ConfirmBtn, .RstBtn {
    display: inline-block;
    width: 150px;
    color: var(--main-color-text);
    background-color: var(--secondary-color-backgrond);
    height: 60px;
    border: none;
    /*margin-top: 20px;*/
    margin: 20px 10px;
}

.RstBtn:hover {
    background-color: var(--secondary-color-hover);
}
.results {
    max-width: 300px;
}
.pseat{
    margin-top: -5px;
    font-weight: bold;
}
#cinema-hall-form {
    margin: 0;
}