@import "reset.css";
@import "navigation.css";
@import "footer.css";
@import "main.css";
@import "forms.css";
@import "tickets.css";
@import "reservationSeats.css";

.days-navigation {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}