{% extends 'bases/base.html' %}

{% block page_content %}
    <h1>Tickets</h1>
    <div class="tickets-list">
        {% if is_staff %}
            <div class="ticket-row-staff title">
                <span>Type</span>
                <span>Weekdays price</span>
                <span>Weekend price</span>
                <span>Actions</span>
            </div>
            {% for ticket in object_list %}
                <div class="ticket-row-staff">
                    <span>{{ ticket.ticket_type }} </span>
                    <span>${{ ticket.price }}</span>
                    <span>${{ ticket.weekend_price }}</span>
                    <span>
                        <a class="edit-link" href="{% url 'edit ticket' pk=ticket.pk %}">Edit</a>
                        <a class="edit-link" href="{% url 'delete ticket' pk=ticket.pk %}">Delete</a>
                    </span>
                </div>
            {% endfor %}
        {% else %}
            <div class="ticket-row title">
                <span>Type</span>
                <span>Weekdays price</span>
                <span>Weekend price</span>
            </div>
            {% for ticket in object_list %}
                <div class="ticket-row">
                    <span>{{ ticket.ticket_type }} </span>
                    <span>${{ ticket.price }}</span>
                    <span>${{ ticket.weekend_price }}</span>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}