{% extends 'bases/base.html' %}

{% block page_content %}
    <h1>List tickets types</h1>
    <p>
        Ticket type | weekdays price | weekend price
    </p>
    {% if is_staff %}
        {% for ticket in object_list %}
            <p>{{ ticket.ticket_type }} | ${{ ticket.price }} | ${{ ticket.weekend_price }}
                <a href="{% url 'edit ticket' pk=ticket.pk %}">Edit</a>
                <a href="{% url 'delete ticket' pk=ticket.pk %}">Delete</a>
            </p>
        {% endfor %}
    {% else %}
        {% for ticket in object_list %}
            <p>
                {{ ticket.ticket_type }} | ${{ ticket.price }} | ${{ ticket.weekend_price }}
            </p>
        {% endfor %}
    {% endif %}
{% endblock %}