{% extends 'bases/base.html' %}

{% block page_content %}
    <h1>Ticket prices</h1>
    <div class="tickets-list">
        {% if request.user.is_staff %}
            <div class="ticket-row-staff title">
                <span>Type</span>
                <span>Weekdays</span>
                <span>Weekend</span>
                <span>Actions</span>
            </div>
            {% for ticket in object_list %}
                <div class="ticket-row-staff">
                    <span>{{ ticket.ticket_type }} </span>
                    <span>${{ ticket.price }}</span>
                    <span>${{ ticket.weekend_price }}</span>
                    <span>
                        <a class="edit-user" href="{% url 'edit ticket' pk=ticket.pk %}"><i class="fa-solid fa-pencil"></i></a>
                        <a class="edit-user" href="{% url 'delete ticket' pk=ticket.pk %}"><i class="fa-solid fa-trash-can"></i></a>
                    </span>
                </div>
            {% endfor %}
        {% else %}
            <div class="ticket-row title">
                <span>Type</span>
                <span>Weekdays</span>
                <span>Weekend</span>
            </div>
            {% for ticket in object_list %}
                <div class="ticket-row">
                    <span>{{ ticket.ticket_type }} </span>
                    <span>${{ ticket.price }}</span>
                    <span>${{ ticket.weekend_price }}</span>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}